/* Please insert all your CSS code into this document */
h1 {
	padding: .2em .5em 1em;
	}

h2 {
	padding: .2em;
	text-align: center;
	}

footer {
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100%;
	background: white;
	}
